<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Aye - Admin</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!-- <link rel="stylesheet" type="text/css" href="static/css/index.css" /> -->
    <!-- <script src="static/js/electionSetup.js"></script> -->
</head>
<body>
    {{$os := .Options}}
    {{if .Started}}
        <h2>{{.Title}}</h2>
        <p>Deadline: {{.EndDate}}</p>
        <form method="POST" action="/submitvote">
            <input type="hidden" name="election" value="{{.ID}}"/>
            <div class="options">
                {{range $o := $os}}
                <input type="radio" name="option" value="{{$o}}">{{$o}}<br>
                {{end}}
            </div>
            Username: <input type="text" name="username"/><br>
            Safeword: <input type="password" name="safeword"/><br>
            <input type="submit" valu="Submit"/>
        </form>
    {{else}}
        <p>Start Date: {{.StartDate}}</p>
    {{end}}
</body>
</html>